@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-light: #fefefe;
    --clr-slate: #efefef;
    --clr-dark: #0f0f0f;
    --clr-accent: #0e92f0;
    --clr-text: #FFFFFF;
    --clr-placeholder: #dededeea;
    --clr-shadow-outer: #9f9f9f;
    --clr-shadow-inner: #3a597b;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background-color: var(--clr-slate);
}
.container {
    height: 850px;
    width: 420px;
    padding-block: 1.5rem;
    padding-inline: 1.2rem;
    background: linear-gradient(rgb(169, 205, 231), rgb(57, 85, 110));
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--clr-text);
    overflow-x: hidden;
}
.search {
    height: 40px;
    width: 70%;
    border: none;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 1rem;
    
    .bxs-map {
        width: 30px;
        height: 40px;
        padding-left: .5rem;
        text-align: center;
        display: block;
        align-content: center;
        font-size: 1.6rem;
        background-color: #819bbc8d;
        border-radius: 20px 0px 0px 20px;
    }
    .search-btn,
    .gps-Loc-btn {
        height: 100%;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        color: var(--clr-slate);
        font-size: 1.6rem;
        transition: 200ms ease;
        background-color: #819bbc8d;
        backdrop-filter: blur(5px);
    }
    #search-bar {
        height: 100%;
        width: 58%;
        padding: .25rem;
        border: none;
        font-size: 1.25rem;
        background-color: #819bbc8d;
        color: var(--clr-text);
    }
    #search-bar::placeholder {
        color: var(--clr-placeholder);
    }
    #search-bar:focus {
        outline: none;
    }
    .search-btn {
        border-radius: 0px 25px 25px 0px;
    }
    .gps-Loc-btn {
        margin-left: .5rem;
        border-radius: 50px;
    }
    .search-btn:hover,
    .gps-Loc-btn:hover {
        color: var(--clr-text);
    }
}
.current {
    height: 300px;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 6px 6px 10px var(--clr-shadow-inner);
}
.current-loc {
    font-weight: 400;
}
.current-loc i {
    margin-right: .5rem;
    font-size: smaller;
}
.temp {
    font-size: 6.5rem;
    font-weight: 300;
    margin-block: -20px;
    letter-spacing: -2px;
}
.condition {
    font-weight: 400;
}
.temp-low {
    margin-left: 10px;
}
.rain-wind-info {
    width: 230px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rainDrop,
.bx-wind {
    font-size: 2rem;
    margin-inline: .2rem;
}
.rain-wind-info h3 {
    font-size: 1.7rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.hourly-forcast {
    height: 145px;
    width: 100%;
    overflow-x: auto;
    background-color: #58729378;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    /* box-shadow: 2px 2px 10px var(--clr-shadow-inner); */

     h3 {
        font-weight: 400;
        font-size: .9rem;
        color: var(--clr-placeholder);
        margin: 5px 0px 10px 18px;
    }
}
.scroll-container {
    width: 100%;
    height: 100px;
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
.child {
    min-width: 70px;
    height: 90%;
    text-align: center;
    display: grid;
    align-content: center;
    gap: 1rem;
    border-radius: 10px;
    h4 {
        font-weight: 500;
    }
}