@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-dark: #212121;
    --clr-dark-light: #363636; 
    --clr-dark-absolute: #000000;
    --clr-light: #FFFFFF;
    --clr-slate: #e0e0e0;
    --clr-accent: #ff8000;
    --clr-delete: #ff3300;
    --clr-text: #efefef;
    --clr-gradient: linear-gradient(65deg,var(--clr-accent), var(--clr-delete));
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background-color: var(--clr-slate);
}
.container {
    height: 850px;
    width: 430px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    color: var(--clr-text);
    background-color: var(--clr-dark-absolute);
    border-radius: 50px;
}
.intro,
.count {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intro {
    height: 200px;
    width: 100%;
    padding: 2rem;
    background-color: var(--clr-dark);
    border-radius: 40px;
}
h1 {
    width: 150px;
    line-height: 55px;
}
h1 span:nth-child(1) {
    font-weight: 400;
    font-size: 2.5rem;
}
h1 span:nth-child(3) {
    font-size: 5rem;
}
.count {
    height: 150px;
    width: 140px;
    border-radius: 25px;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    background: var(--clr-gradient);
    justify-content: center;
}
.task-Box {
    height: 60px;
    width: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}
#new-task {
    height: 60px;
    width: 85%;
    padding: 1rem;
    border: none;
    border-radius: 40px;
    background-color: var(--clr-dark);
    color: var(--clr-text);
    font-size: 1.4rem;
}
.add {
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-dark);
    font-size: 4rem;
    font-weight: 800;
    color: var(--clr-accent);
    transition: 250ms ease;
    cursor: pointer;
}
.add:hover {
    color: var(--clr-text);
    background-color: var(--clr-accent);
}
.task-list-group {
    height: 372px;
    width: 100%;
    padding: 0.8rem;
    border-radius: 40px;
    background-color: var(--clr-dark);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;     /* Firefox */
}
.task-container {
    height: 60px;
    width: 100%;
    margin-bottom: 0.7rem;
    padding-inline: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    background-color: var(--clr-dark-light);
    transition: 240ms ease;
}
.container-checked {
    .check {
        background-color: var(--clr-accent);
    }
    .task {
        text-decoration: line-through;
    }
}
.container-delete-active {
    transform: translateX(-400px);
    .delete {
        background-color: var(--clr-delete);
    }
}
.check,
.delete {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    color: var(--clr-text);
    background-color: var(--clr-dark);
    cursor: pointer;
    transition: 250ms ease;
}
.check {
    font-size: 2.5rem;
    font-weight: 800;
}
.task {
    width: 70%;
    margin-inline: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}
.delete {
    font-size: 1.5rem;
    background-color: #bb3716;
}
.delete:hover {
    background-color: var(--clr-delete);
}